<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Monagm"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
<mapEntry key="FORGE_VERSION" value="28.1.104"/>
<mapEntry key="MCP_MAPPINGS" value="snapshot_20191206-1.14.3"/>
<mapEntry key="MCP_VERSION" value="20190829.143755"/>
<mapEntry key="MC_VERSION" value="1.14.4"/>
<mapEntry key="MOD_CLASSES" value="examplemod%%/Users/jonathandillon/Desktop/code/minecraft/1_14_4/mods/Monagm/bin/main:examplemod%%/Users/jonathandillon/Desktop/code/minecraft/1_14_4/mods/Monagm/bin/main"/>
<mapEntry key="assetDirectory" value="/Users/jonathandillon/.gradle/caches/forge_gradle/assets"/>
<mapEntry key="assetIndex" value="1.14"/>
<mapEntry key="nativesDirectory" value="/Users/jonathandillon/Desktop/code/minecraft/1_14_4/mods/Monagm/build/natives"/>
<mapEntry key="target" value="fmluserdevclient"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Monagm"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP -XstartOnFirstThread -Xss1M"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/jonathandillon/Desktop/code/minecraft/1_14_4/mods/Monagm/run"/>
</launchConfiguration>
